.app-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  box-sizing: border-box;
}

.splash-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 500ms ease-in-out;
}

.splash-transition.fade-in {
  opacity: 1;
}

.splash-transition.fade-out {
  opacity: 0;
}

.main-content-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-content-scrollable {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.main-content-transition.fade-in {
  opacity: 1;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.welcome-text {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #555555;
}



